absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
astunparse
attrs
av
backoff
bcrypt
beautifulsoup4
blinker
bs4
build
cachetools
certifi
cffi
chardet
charset-normalizer
chromadb
click
colorama
coloredlogs
comm
commonmark
contourpy
cryptography
ctranslate2
cycler
dataclasses-json
datasets
debugpy
decorator
defusedxml
dialogflow
dill
distro
dnspython
docstring_parser
duckduckgo_search
durationpy
easyocr
email-validator
et_xmlfile
executing
faiss-cpu
Faker
fastapi
fastapi-cli
fastapi-cloud-cli
faster-whisper
ffmpeg
ffmpeg-python
filelock
filetype
Flask
Flask-Cors
flask-sitemapper
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fpdf2
frozenlist
fsspec
future
gast
ggshield
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-generativeai
google-pasta
google-resumable-media
googleapis-common-protos
grandalf
greenlet
groq
grpc-google-iam-v1
grpcio
grpcio-status
gTTS
gunicorn
h11
h5py
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface
huggingface-hub
humanfriendly
idna
imageio
imageio-ffmpeg
importlib_metadata
importlib_resources
imutils
iniconfig
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
kubernetes
labelImg
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-gemini
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-openai
langchain-tavily
langchain-text-splitters
langchain-tools
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lazy_loader
libclang
libretranslatepy
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
marshmallow-dataclass
matplotlib
matplotlib-inline
mdurl
ml_dtypes
mmh3
moviepy
mpmath
multidict
multiprocess
mypy_extensions
mysql-connector-python
namex
narwhals
nest-asyncio
networkx
ninja
nltk
numpy
oauthlib
onnx
onnx-tf
onnx2tf
onnx_graphsurgeon
onnxruntime
openai
opencv-contrib-python-headless
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optional-django
optree
orjson
ormsgpack
outcome
overrides
packaging
pandas
parso
pdf2image
pillow
pillow_heif
platformdirs
pluggy
posthog
primp
proglog
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pybase64
pyclipper
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
pydub
pygitguardian
Pygments
PyJWT
pylsl
PyMuPDF
PyMySQL
pyparsing
pypdf
PyPDF2
PyPika
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5_sip
pyreadline3
PySocks
pysrt
pytesseract
pytest
python-bidi
python-dateutil
python-dotenv
python-multipart
pytube
pytz
PyYAML
pyzmq
qrdet
quadrilateral-fitter
RapidFuzz
react
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rich-toolkit
rignore
roboflow
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
selenium
sentence-transformers
sentencepiece
sentry-sdk
setuptools
shapely
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tavily-python
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
thop
threadpoolctl
tifffile
tiktoken
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
translate
trio
trio-websocket
truststore
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
ujson
ultralytics
ultralytics-thop
uritemplate
urllib3
uuid_utils
uvicorn
vertexai
watchdog
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
wheel
wrapt
wsproto
WTForms
xlsxwriter
xxhash
yarl
yt-dlp
zipp
zstandard
zxing-cpp
